.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
}

#save-meal-edit-btn {
    float: right;
}

#close-meal-edit-btn {
    float: left;
}